News{
    border: 1px solid gray;
    padding: 1px;
    margin: 2px auto;
    width: 70%;
}

*{
    display: block;
    border: 1px dotted;
    margin: 5px;
    padding: 4px;
}

contact[type]{
    background: rgb(188, 188, 188);
}
/*
more[before]{

}
*/