repertoire {
    border: 1px solid gray;
    padding: 1rem;
    margin: 2rem auto;
    width: 70%
}
* {
    display: block;
    border: 1px dotted;
    margin: 0.4rem;
    padding: 0.4rem;
}
contact[type=ami] {
    background: #CCC;
}
nom:before {
    content: "Nom : "
}
téléphone:before {
    content: attr(type) " : "
}